{% extends "layouts/layout.html" %}
{% set public = true %}
{% set path = 'auth/forgot-password' %}
{% set title = 'Forgot password' %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include "partials/_error-summary.html" %}
    
    <h1 class="govuk-heading-l">{{ title }}</h1>
    
    {% if success %}
      <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Success
          </h2>
        </div>
        <div class="govuk-notification-banner__content">
          <p class="govuk-notification-banner__heading">
            {{ success }}
          </p>
        </div>
      </div>
    {% endif %}


    <p class="govuk-body">
      Enter your email address and we'll send you a link to reset your password.
    </p>

    <form method="POST" action="/auth/forgot-password" novalidate>
      <input type="hidden" name="_csrf" value="{{ csrfToken }}">
      
      <div class="govuk-form-group {% if errors.email %}govuk-form-group--error{% endif %}">
        <label class="govuk-label" for="email">
          Email address
        </label>
        {% if errors.email %}
          <p id="email-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> {{ errors.email }}
          </p>
        {% endif %}
        <input class="govuk-input {% if errors.email %}govuk-input--error{% endif %}" 
               id="email" 
               name="email" 
               type="email" 
               spellcheck="false"
               value="{{ email or '' }}" 
               {% if errors.email %}aria-describedby="email-error"{% endif %}
               required>
      </div>

      <button type="submit" class="govuk-button" data-module="govuk-button">
        Send reset link
      </button>
    </form>

    <p class="govuk-body">
      <a href="/auth/sign-in" class="govuk-link">Back to sign in</a>
    </p>

  </div>
</div>
{% endblock %} 