{% extends "layouts/layout.html" %}

{% set public = true %}
{% set path = 'auth/register' %}
{% set title = 'Create an account' %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">  

    {% include "partials/_error-summary.html" %}

    <h1 class="govuk-heading-l">{{ title }}</h1>

    <form method="POST" action="/auth/register" novalidate>
      <input type="hidden" name="_csrf" value="{{ csrfToken }}">

      <div class="govuk-form-group {% if errors.firstName %}govuk-form-group--error{% endif %}">
        <label class="govuk-label" for="firstName">
          First name
        </label>
        {% if errors.firstName %}
        <p id="firstName-error" class="govuk-error-message">
          <span class="govuk-visually-hidden">Error:</span> {{ errors.firstName }}
        </p>
        {% endif %}
        <input class="govuk-input {% if errors.firstName %}govuk-input--error{% endif %}" id="firstName"
          name="firstName" type="text" spellcheck="false" value="{{ firstName or '' }}" {% if errors.firstName
          %}aria-describedby="firstName-error" {% endif %} required>
      </div>

      <div class="govuk-form-group {% if errors.lastName %}govuk-form-group--error{% endif %}">
        <label class="govuk-label" for="lastName">
          Last name
        </label>
        {% if errors.lastName %}
        <p id="lastName-error" class="govuk-error-message">
          <span class="govuk-visually-hidden">Error:</span> {{ errors.lastName }}
        </p>
        {% endif %}
        <input class="govuk-input {% if errors.lastName %}govuk-input--error{% endif %}" id="lastName"
          name="lastName" type="text" spellcheck="false" value="{{ lastName or '' }}" {% if errors.lastName
          %}aria-describedby="lastName-error" {% endif %} required>
      </div>

      <div class="govuk-form-group {% if errors.email %}govuk-form-group--error{% endif %}">
        <label class="govuk-label" for="email">
          Email address
        </label>
        <div class="govuk-hint">Must be from a public sector organisation</div>
        {% if errors.email %}
        <p id="email-error" class="govuk-error-message">
          <span class="govuk-visually-hidden">Error:</span> {{ errors.email }}
        </p>
        {% endif %}
        <input class="govuk-input {% if errors.email %}govuk-input--error{% endif %}" id="email" name="email"
          type="email" spellcheck="false" value="{{ email or '' }}" {% if errors.email
          %}aria-describedby="email-error" {% endif %} required>
      </div>

      <div class="govuk-form-group {% if errors.mobileNumber %}govuk-form-group--error{% endif %}">
        <label class="govuk-label" for="mobileNumber">
          Mobile number
        </label>
        <div class="govuk-hint">We'll send you a security code by text message</div>
        {% if errors.mobileNumber %}
        <p id="mobileNumber-error" class="govuk-error-message">
          <span class="govuk-visually-hidden">Error:</span> {{ errors.mobileNumber }}
        </p>
        {% endif %}
        <input class="govuk-input {% if errors.mobileNumber %}govuk-input--error{% endif %}" id="mobileNumber"
          name="mobileNumber" type="tel" value="{{ mobileNumber or '' }}" {% if errors.mobileNumber
          %}aria-describedby="mobileNumber-error" {% endif %} required>
      </div>

      <div class="govuk-form-group {% if errors.password %}govuk-form-group--error{% endif %}">
        <label class="govuk-label" for="password">
          Password
        </label>
        <div class="govuk-hint">At least 8 characters</div>
        {% if errors.password %}
        <p id="password-error" class="govuk-error-message">
          <span class="govuk-visually-hidden">Error:</span> {{ errors.password }}
        </p>
        {% endif %}
        <input class="govuk-input {% if errors.password %}govuk-input--error{% endif %}" id="password"
          name="password" type="password" value="{{ password or '' }}" {% if errors.password
          %}aria-describedby="password-error" {% endif %} required>
      </div>

      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>
    </form>

    <div class="govuk-body">
      <p>
        Already have an account? <a href="/auth/sign-in" class="govuk-link">Sign in</a>
      </p>
    </div>

  </div>
</div>
{% endblock %}