{% extends "layouts/layout.html" %}
{% set public = true %}
{% set path = 'auth/reset-password' %}
{% set title = 'Reset your account' %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include "partials/_error-summary.html" %}
    
    <h1 class="govuk-heading-l">{{ title }}</h1>
    
    {% if success %}
      <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Success
          </h2>
        </div>
        <div class="govuk-notification-banner__content">
          <p class="govuk-notification-banner__heading">
            {{ success }}
          </p>
        </div>
      </div>
      
      <p class="govuk-body">
        <a href="/auth/sign-in" class="govuk-button">Sign in</a>
      </p>
    {% else %}


      <p class="govuk-body">
        Enter your new password to complete your password reset.
      </p>

      <form method="POST" action="/auth/reset-password" novalidate>
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
        <input type="hidden" name="token" value="{{ token }}">

        <div class="govuk-form-group {% if errors.password %}govuk-form-group--error{% endif %}">
          <label class="govuk-label" for="password">
            New password
          </label>
          {% if errors.password %}
            <p id="password-error" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span> {{ errors.password }}
            </p>
          {% endif %}
          <input class="govuk-input {% if errors.password %}govuk-input--error{% endif %}" id="password" name="password" type="password" value="{{ password }}" {% if errors.password %}aria-describedby="password-error"{% endif %}>
          <div class="govuk-hint">
            Password must be at least 8 characters long
          </div>
        </div>

        <div class="govuk-form-group {% if errors.confirmPassword %}govuk-form-group--error{% endif %}">
          <label class="govuk-label" for="confirmPassword">
            Confirm new password
          </label>
          {% if errors.confirmPassword %}
            <p id="confirmPassword-error" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span> {{ errors.confirmPassword }}
            </p>
          {% endif %}
          <input class="govuk-input {% if errors.confirmPassword %}govuk-input--error{% endif %}" id="confirmPassword" name="confirmPassword" type="password" value="{{ confirmPassword }}" {% if errors.confirmPassword %}aria-describedby="confirmPassword-error"{% endif %}>
        </div>

        <button type="submit" class="govuk-button">
          Set up account
        </button>
      </form>

      <p class="govuk-body">
        <a href="/auth/forgot-password" class="govuk-link">Request a new reset link</a>
      </p>
    {% endif %}

  </div>
</div>
{% endblock %} 