{% extends "layouts/layout.html" %}

{% set title = "Change your password" %}

{% block beforeContent %}
<div class="govuk-width-container">
  <a href="/account" class="govuk-back-link">Back</a>
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">{{ title }}</h1>

    {% include "partials/_error-summary.html" %}

    <form method="POST" action="/account/change-password" novalidate>
      <input type="hidden" name="_csrf" value="{{ csrfToken }}">

      <div class="govuk-form-group {% if errors.currentPassword %}govuk-form-group--error{% endif %}">
        <label class="govuk-label" for="currentPassword">
          Current password
        </label>
        {% if errors.currentPassword %}
        <p id="currentPassword-error" class="govuk-error-message">
          <span class="govuk-visually-hidden">Error:</span> {{ errors.currentPassword }}
        </p>
        {% endif %}
        <input class="govuk-input {% if errors.currentPassword %}govuk-input--error{% endif %}" 
               id="currentPassword" 
               name="currentPassword" 
               type="password"
               {% if errors.currentPassword %}aria-describedby="currentPassword-error"{% endif %}
               required>
      </div>

      <div class="govuk-form-group {% if errors.newPassword %}govuk-form-group--error{% endif %}">
        <label class="govuk-label" for="newPassword">
          New password
        </label>
        <div class="govuk-hint">Must be at least 8 characters and include uppercase, lowercase and numbers</div>
        {% if errors.newPassword %}
        <p id="newPassword-error" class="govuk-error-message">
          <span class="govuk-visually-hidden">Error:</span> {{ errors.newPassword }}
        </p>
        {% endif %}
        <input class="govuk-input {% if errors.newPassword %}govuk-input--error{% endif %}" 
               id="newPassword" 
               name="newPassword" 
               type="password"
               {% if errors.newPassword %}aria-describedby="newPassword-error"{% endif %}
               required>
      </div>

      <button class="govuk-button" data-module="govuk-button">
        Save changes
      </button>

      <p class="govuk-body">
        <a href="/account" class="govuk-link">Cancel</a>
      </p>
    </form>
  </div>
</div>
{% endblock %} 